{% extends "main.html" %}
{% block header %}
{% include "partials/heroheader.html" %}
{% endblock %}
{% block hero %}
{% include "partials/herolanding.html" %}
{% endblock %}

{% block container %}
<style>
    /* Resetting base containers so we can do what we want on the hero page */

    html {
        scroll-behavior: auto;
    }

    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        transform-style: preserve-3d;
        max-height: max-content;
        min-width: 100vw;
    }

    .md-source-file {
        display: none;
    }

    div.md-main__inner.md-grid div.md-sidebar.md-sidebar--primary {
        z-index: 1100;
        margin-top: 2rem;
        object-fit: cover;
        background-color: rgba(var(--zaffre-adj), 0.6);
    }
    nav.md-tabs, #header-target, .md-footer {
        opacity: 0;
    }

    main.md-main {
        display: none;
        visibility: hidden;
        opacity: 0;
    }
</style>
{% endblock %}
{% block content %}
{% endblock %}
{% block scripts %}
<script async fetch-priority="high" type="module" src="{{ js_bundle | url }}"></script>
{% endblock %}
