
# Top-level config
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 spaces for specific file types
[*.{bash,css,html,md,py,scss,sh,toml,xml,yaml,yml,zsh}]
indent_size = 4

[*.sh]
switch_case_indent = true
space_redirects = true
keep_padding = true
function_next_line = true

[[shell]]
indent_size = 4
switch_case_indent = true
space_redirects = true
keep_padding = true
function_next_line = true

[[bash]]
indent_size = 4
switch_case_indent = true
space_redirects = true
keep_padding = true
function_next_line = true

[Makefile]
indent_style = tab
indent_size = 4
