# .shellcheckrc

external-sources=true
# Disable anything requiring external reference checks...
# shellcheck doesn't handle these well in a repo environment
disable=SC1090
disable=SC1091
disable=SC1094
