---
import FootnoteScript from "../components/FootnoteScript.astro";
import BaseLayout from "./BaseLayout.astro";
import "../assets/stylesheets/footnotes.css";
import "../assets/stylesheets/prose.css";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="content-page">
    <div class="container">
      <header class="page-header">
        <h1>{frontmatter.title}</h1>
        {frontmatter.description && <p class="description">{frontmatter.description}</p>}
      </header>

      <article class="prose"><slot /></article>
    </div>
  </div>
  <FootnoteScript />
</BaseLayout>
