:root {
  /* primary colors */
  --zaffre: rgb(13, 25, 163);
  --emerald: rgb(21, 219, 149);
  --dutch-white: rgb(244, 228, 193);
  --ecru: rgb(228, 197, 129);

  --white: rgb(255, 255, 255);

  /* zaffre */
  --air-superiority-blue: rgb(108, 166, 193);
  --alice-blue: rgb(212, 229, 237);
  --aquamarine: rgb(106, 241, 194);
  --blue-blue: rgb(18, 36, 226);
  --columbia-blue: rgb(197, 220, 231);
  --federal-blue: rgb(9, 18, 113);
  --penn-blue: rgb(5, 9, 56);
  --phthalo-blue: rgb(11, 21, 131);
  --russian-violet: rgb(22, 19, 63);
  --vista-blue: rgb(161, 168, 247);
  --vivid-sky-blue: rgb(58, 198, 240);

  /* emerald */
  --castleton-green: rgb(9, 93, 64);
  --dark-emerald: rgb(5, 56, 38);
  --midnight-green: rgb(2, 58, 60);
  --shamrock-green: rgb(40, 150, 90);

  /* dutch-white */
  --peach-yellow: rgb(234, 208, 154);
  --cafe-noir: rgb(50, 38, 11);

  /* ecru */
  --saffron: rgb(232, 197, 71);
  --smoky-black: rgb(33, 26, 7);
  --smokier-black: rgb(22, 17, 5);

  /* darks */
  --oxford-blue: rgb(0, 0, 34);
  --rich-black: rgb(2, 3, 19);

  /* darkest zaffre */
  --night: rgb(6, 12, 14);

  /* darkest air-superiority-blue */
  --gunmetal: rgb(18, 34, 43);
  --licorice: rgb(33, 2, 3);

  /* second darkest air-superiority-blue */
  --charcoal: rgb(30, 59, 72);
  --ebony: rgb(75, 80, 67);
  --jet: rgb(42, 43, 42);

  /* lights */
  --almond: rgb(242, 226, 210);
  --cherry-blossom-pink: rgb(253, 175, 188);
  --floral-white: rgb(252, 247, 247);
  --linen: rgb(249, 235, 224);

  /* red group */
  --atomic-tangerine: rgb(255, 142, 71);
  --burgundy: rgb(119, 3, 22);
  --dark-drab-brown: rgb(54, 44, 7);
  --dark-purple: rgb(63, 39, 63);
  --indigo: rgb(71, 0, 122);
  --mauve: rgb(212, 153, 255);
  --periwinkle: rgb(181, 176, 232);
  --seal-brown: rgb(82, 31, 0);
  --thistle: rgb(204, 189, 219);
  --turkey-red: rgb(163, 0, 0);

  --mindaro: rgb(202, 255, 138);
  --aqua: rgb(59, 244, 251);

  --cadet-gray: rgb(144, 153, 161);
  --cool-gray: rgb(204, 204, 204);

  /* Adjustable colors */
  --aquamarine-rgb: 106, 241, 194;
  --castleton-grn-rgb: 9, 93, 64;
  --columbia-blue-rgb: 197, 220, 231;
  --cool-gray-rgb: 204, 204, 204;
  --dark-emerald-rgb: 5, 56, 38;
  --dutch-white-rgb: 244, 228, 193;
  --ecru-rgb: 228, 197, 128;
  --emerald-rgb: 21, 219, 149;
  --gunmetal-rgb: 18, 34, 43;
  --night-rgb: 6, 12, 14;
  --oxford-blue-rgb: 0, 0, 34;
  --saffron-rgb: 232, 197, 71;
  --smokier-black-rgb: 22, 17, 5;
  --smoky-black-rgb: 33, 26, 7;
  --turkey-red-rgb: 163, 0, 0;
  --white-rgb: 255, 255, 255;
  --zaffre-rgb: 13, 25, 163;
}
