:root {
  --accent: var(--emerald-rgb);
  --accent-light: var(--aquamarine-rgb);
  --accent-dark: var(--castleton-grn-rgb);
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--emerald-rgb)),
    rgb(var(--aquamarine-rgb)) 30%,
    rgb(var(--dutch-white-rgb)) 60%
  );

  /* Plain License Brand Colors */
  --pl-zaffre: rgb(13, 25, 163);
  --pl-emerald: var(--emerald);
  --pl-ecru: var(--ecru);
  --pl-night: rgb(6, 12, 14);
}
