:root {
  --accent: var(--emerald-rgb);
  --accent-light: var(--aquamarine-rgb);
  --accent-dark: var(--castleton-grn-rgb);
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--emerald-rgb)),
    rgb(var(--aquamarine-rgb)) 30%,
    rgb(var(--dutch-white-rgb)) 60%
  );

  /* Plain License Brand Colors */
  --pl-zaffre: rgb(13, 25, 163);
  --pl-emerald: rgb(21, 219, 149);
  --pl-ecru: rgb(228, 197, 129);
  --pl-night: rgb(6, 12, 14);
}

[id^="plain-"],
[id^="original-"] {
  cursor: help;
  padding: 2px 4px;
}
